body {
    background-image: url("christian-wiediger-WY3u5uKuKI0-unsplash.jpg");
    background-size: cover;
    font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    height: 100vh;
}

.container {
    background-color: white;
    max-width: 80%;
    margin: 20px auto;
    border: 3px solid rgb(135, 74, 36);
    border-radius: 10px;
}
h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: rgb(198, 132, 56);
}

#increment-btn:hover {
    background: rgb(222, 161, 91);
}

#decrement-btn {
    background: rgb(199, 74, 93);
}

#decrement-btn:hover {
    background: rgb(215, 88, 107);
}

#save-btn {
    background: rgb(93, 182, 51);
}
#save-btn:hover {
    background: rgb(124, 209, 84);
}
